<% if @s_s_results_details.stat_summary_result.present? %>
	<h5><%= t(@s_s_results_details.stat_summary_title) %></h2>	
	<p><%= render inline: ERB.new(@s_s_results_details.stat_summary_result).result(binding) %></p>
<% end %>	

<h5><%= t(@s_s_results_details.stat_title) %></h2>	
<table class="table table-striped">
  <tr>
    <% @s_s_results_details.col_headers.each do |h| %>
        <th><%= t(h) %></th>
    <% end %>
  </tr>

  <% @s_s_results_details.search_stat_result.each do |m| %>
      <tr>
        <% @s_s_results_details.col_headers.each do |h| %>
            <td><%= m[h] %></td>
        <% end %>
      </tr>
  <% end %>
</table>
