<% if @stats_partial_erb_code %>
  <%= render inline: @stats_partial_erb_code %>
  
<% else %>

<% if @s_s_results_details.stat_summary_result.present? %>
	<%= render inline: ERB.new(@s_s_results_details.stat_summary_result).result(binding)  %>
<% end %>	
<p></p>     	
<table class="table table-hover">
  <thead>
    <tr>
      <% @s_s_results_details.col_headers.each do |h| %>
        <th><%= t(h) %></th>
      <% end if @s_s_results_details.col_headers.present? %>
    </tr>
  </thead>
  <tbody>
  <% @s_s_results_details.search_stat_result.each do |m| %>
      <tr>
        <% m.attributes.each do |k, v| %>
            <td><%= v %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-toolbar">
  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
</div>

<% end %>

