<% if @view_in_config && @erb_code_s %>
  <%= render inline: @erb_code_s %>
 
<% else %>

<div class="container-fluid">
        <div class="page-header clearfix">
          <div class="pull-left">
             <h2><%= @title_ %></h2>
          </div>
        </div>

  &nbsp;&nbsp;<b><%= t('Search Parameters:') %></b>&nbsp;&nbsp;<%= render inline: @s_s_results_details.search_params %>
  <%= render inline: ERB.new(@s_s_results_details.search_summary_result).result(binding) if @s_s_results_details.search_summary_result.present? %>
  <%= render partial: @s_s_results_details.search_list_form, locals: {models: @s_s_results_details.models } %>
   
</div>

<% end %>
