<% if @view_in_config && @erb_code_s %>
  <%= render inline: @erb_code_s %>
  
<% else %>

<div class="container-fluid">
  	<div class="page-header clearfix">
          <div class="pull-left">
    		<h><%= @title_ %></h2>
    	 </div>
    </div>

    &nbsp;&nbsp;<b><%= t('Search Parameters:') %></b>&nbsp;&nbsp;<%= render inline: @s_s_results_details.search_params %>
  
    <%= render 'form_stats', :locals => { :models => @models} %>
 

</div>

<% end %>
